.book-table_right_wrap{
  @extend .aboutus_right_wrap;
  &__img{
    @extend .aboutus_right_wrap__img;
    background-image: url("../img/aboutime-img.png");
  }
}
.left_wrap__table{
  margin-top: 20px;
  display: flex;
  input{
    padding: 13px;
    margin-top: 5px;
    width: 250px;
    border-radius: 2px;
    background-color: #E5E5E5;;
    border: none;
    @include tablet {
    width: 150px;
  }
  }
}
.left_wrap__btn{
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  background-color: #E8C300;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  padding: 13px 246px 13px 246px;
  text-align: center;
  @include tablet{
    padding: 0px 224px 1px 100px;
  }
  &:hover{
    background-color: #e8a600;
  }
}
.BOOK_link{
  text-decoration: none;
  width: 100%;
  height: 100%;
}