body {
  font-family: Calibri, sans-serif;
  overflow-x: hidden;
}

.wrapper_block {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.right_block {
  flex-basis: 50%;
}

.right_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  padding: 80px;
  text-align: center;
  color: #1e1e1e;
  padding: 20px 20px;
  text-align: center;
  font-family: Open Sans;
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
}

.left_block {
  flex-basis: 50%;
}

.left_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  padding: 80px;
  text-align: center;
  color: #1e1e1e;
  padding: 20px 20px;
  text-align: center;
  font-family: Open Sans;
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
}

.title {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}

.subtitle {
  font-weight: bold;
  line-height: 21px;
  font-size: 22px;
  font-family: Open Sans;
  font-style: normal;
}

.text {
  font-family: sans-serif;
  color: rgba(17, 17, 17, 0.9);
  line-height: 24px;
  font-size: 13px;
  margin-top: 15px;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("../img/header-bg.jpg");
  position: relative;
}

.header_anchor {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: 75px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .header_anchor {
    margin-top: 150px;
    width: 50px;
    height: 50px;
  }
}

.header_img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu_items a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 85%;
}

.wrapper_left {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 768px) {
  .wrapper_left {
    display: none;
  }
}

.wrapper_left__text {
  transform: rotate(-90deg);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  /* or 100% */
  text-align: center;
  color: #FFFFFF;
}

.block_centre {
  flex-basis: 60%;
}
@media screen and (max-width: 768px) {
  .block_centre {
    flex-basis: 100%;
  }
}

.wrapper_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.wrapper_center__title {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
@media screen and (max-width: 768px) {
  .wrapper_center__title {
    font-size: 10px;
    margin-top: 30px;
  }
}

.wrapper_center__subtitle {
  font-size: 96px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .wrapper_center__subtitle {
    font-size: 30px;
  }
}

.wrapper_center__line {
  width: 60px;
  height: 5px;
  background: #E8C300;
}

.wrapper_center_inner {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .wrapper_center_inner {
    margin-top: 90px;
  }
}

.wrapper_center_inner__btn__table, .wrapper_center_inner__btn__explo {
  padding: 15px 45px;
  margin-right: 40px;
  border: 1px solid #837e7e;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .wrapper_center_inner__btn__table, .wrapper_center_inner__btn__explo {
    padding: 7px 22px;
    margin-right: 20px;
    border: 1px solid #837e7e;
    color: #FFFFFF;
    text-decoration: none;
  }
}
.wrapper_center_inner__btn__table:hover, .wrapper_center_inner__btn__explo:hover {
  background-color: #E8C300;
}

.wrapper_center__arrow_down {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-top: 92px;
  transform: rotate(-90deg);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .wrapper_center__arrow_down {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
}

.arrow_down_d {
  height: 100%;
  text-decoration: none;
  color: #505050;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  transform: translateX(22%);
}

.wrapper_right {
  flex-basis: 20%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 768px) {
  .wrapper_right {
    display: none;
  }
}

.block_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icons__item {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #837e7e;
}

.aboutus {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  position: relative;
  overflow: hidden;
}

.aboutus_left {
  flex-basis: 50%;
}

.aboutus_right {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus_left_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  padding: 80px;
  text-align: center;
  color: #1e1e1e;
  padding: 20px 20px;
  text-align: center;
  font-family: Open Sans;
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
}

.left_wrap__title {
  font-family: Banny;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}

.left_wrap__subtitle {
  font-weight: bold;
  line-height: 21px;
  font-family: Open Sans;
  font-style: normal;
}

.left_wrap__text {
  font-family: sans-serif;
  color: rgba(17, 17, 17, 0.9);
}

.aboutus_right_wrap, .book-table_right_wrap, .our_left_wrap {
  display: flex;
  justify-content: center;
}
.aboutus_right_wrap__img, .book-table_right_wrap__img, .our_left_wrap__img {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-image: url("../img/about-img.png");
  position: relative;
}
@media screen and (max-width: 768px) {
  .aboutus_right_wrap__img, .book-table_right_wrap__img, .our_left_wrap__img {
    width: 200px;
    height: 200px;
  }
}
.aboutus_right_wrap__img::after, .book-table_right_wrap__img::after, .our_left_wrap__img::after {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 15px solid yellow;
  position: absolute;
  top: 25%;
  transform: translateX(150%);
}
@media screen and (max-width: 768px) {
  .aboutus_right_wrap__img::after, .book-table_right_wrap__img::after, .our_left_wrap__img::after {
    width: 75px;
    height: 75px;
  }
}

.book-table_right_wrap__img {
  background-image: url("../img/aboutime-img.png");
}

.left_wrap__table {
  margin-top: 20px;
  display: flex;
}
.left_wrap__table input {
  padding: 13px;
  margin-top: 5px;
  width: 250px;
  border-radius: 2px;
  background-color: #E5E5E5;
  border: none;
}
@media screen and (max-width: 768px) {
  .left_wrap__table input {
    width: 150px;
  }
}

.left_wrap__btn {
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  background-color: #E8C300;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  padding: 13px 246px 13px 246px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .left_wrap__btn {
    padding: 0px 224px 1px 100px;
  }
}
.left_wrap__btn:hover {
  background-color: #e8a600;
}

.BOOK_link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.our {
  background: url("../img/specialty's-bg.jpg");
  background-size: cover;
}

.our_right_wrap {
  color: white;
}

.right_wrap__text {
  color: white;
}

.our_left_wrap__img {
  background-image: url("../img/Rectangle.png");
}
.our_left_wrap__img::after {
  top: 25%;
  transform: translateX(-30%);
}

.our-choco {
  background-image: url("../img/shocolate-bg.jpg");
}

.our-choco_left_wrap__img {
  background-image: url("../img/shok.png");
}

.private {
  background-image: url("../img/shocolate-bg.jpg");
  background-size: cover;
}

.book-table_right_wrap__img {
  background-image: url("../img/aboutime-img.png");
}

.private_left_wrap__img {
  background-image: url("../img/wedding.png");
}

/*# sourceMappingURL=main.css.map */
